.bg-e7 {
    background-color: #E7E7E7;
}

.bg-1e {
    background-color: #1e1e1e;
}

.bg-0 {
    background-color: #000;
}

.bg-red {
    background-color: #D03132;
}

.hex-e7 {
    color: #E7E7E7;
}

.hex-f {
    color: white;
}

.hex-red {
    color: #D03132;
}

.bd-fff {
    border: 1px solid white;
}

.bd-0 {
    border: 0px solid #1E1E1E;
}

.sh1 {
    font-size: 20px;
    font-weight: bold;
}
  
.curvebox {
    color: #e7e7e7;
    border-radius: 5px;
    font-style: italic;
    padding: 0px 10px;
}
  
.sh3 {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
  
.sP {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}
  
.paperFont {
    font-family: "Noto Serif", serif;
    letter-spacing: 2px;
    font-weight: 500;
}

.paperColor {
    color:#D2BA99
}

.paperColorDark {
    color: #BEA88A;
}

.pixelFont {
    font-family: 'Press Start 2P', cursive;
}

.markerFont {
    font-family: "Permanent Marker";
}

.custom-btn {
    height: 40px;
    padding: 0px 10px;
    font-size: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 0px solid #1E1E1E;
}

.btn-dark {
    background-color: #1E1E1E;
    color: #E7E7E7;
    -webkit-transition: background 0.1s, color 0.1s, border 0.1s; /* For Safari 3.0 to 6.0 */
    transition: background 0.1s, color 0.1s, border 0.1s; /* For modern browsers */
}

.btn-dark:hover {
    /* background-color: #000; */
    color: white;
}

.btn-red {
    background-color: #D03132;
    color: white;
    -webkit-transition: background 0.1s, color 0.1s, border 0.1s; /* For Safari 3.0 to 6.0 */
    transition: background 0.1s, color 0.1s, border 0.1s; /* For modern browsers */
}

.btn-red:hover {
    /* background-color: #D93A3B; */
    color: black;
}

.btn-brown {
    background-color: #E7E7E7;
    color: black;
    -webkit-transition: background 0.1s, color 0.1s, border 0.1s; /* For Safari 3.0 to 6.0 */
    transition: background 0.1s, color 0.1s, border 0.1s; /* For modern browsers */
}

.btn-brown:hover {
    /* background-color: #D93A3B; */
    color: #D93A3B;
}
